/.phpunit.cache
/node_modules

/public/post-picture/*
/public/post-video/*
/public/profile/*
/public/story-pictures/*
/public/video-cover/*

/public/explore_algorithm/features/*.npy
/public/explore_algorithm/files/*

/public/explore_algorithm/image_names.npy
/public/explore_algorithm/image_index.index

/storage/*.key
/vendor
.env
